:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
}

button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: antiquewhite;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}
button:hover {
  background-color: var(--clr-accent-400);
}

.profile {
  display: flex;
  height: 50vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: antiquewhite;
}

.login {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.Intro > *:not(.card-page) {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: antiquewhite;
}

body {
  display: grid;
  min-height: 100vh;
  /* place-items: center; */
  line-height: 1.6;
  background-color: var(--clr-neutral-900);
  font-family: sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  justify-content: center;
  color: var(--clr-neutral-100);
}

.card-page {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 900px) {
  .card-page {
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
    padding-top: 100px;
  }
}
