.button {
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        color: var(--clr-neutral-900);
        background-color: var(--clr-accent-400);
        padding: 0.5em 1.25em;
        border-radius: 0.25em;
      }
